node_modules

.idea/
.vscode/
.env

# cache
.cache

# logs
logs
*.log
*.ideia

npm-debug.log*
yarn-debug.log*
yarn-debug.log*

# DS_Store é gerado pelo VSCode
*DS_Store
src/styles/build/css/*
yarn.lock